.buscador{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buscador_input {
  margin-top: 10px;
  border-radius: 5px;
  min-height: 30px;
  height: 30px;
  min-width: 200px;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.9);
}
::placeholder {
  color: white;
  font-weight: 300;
}
.buscador_input input:hover {
  outline: 1px solid rgba(0, 47, 117, 0.8);
}
.p_input {
  margin-top: 5px;
  margin: 5px 0 0 0;
  width: 100%;
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
}
@media (min-width: 900px) {
  .buscador_input {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.11);
    height: 40px;
  }
  .p_input {
    margin-top: 10px;
    font-size: 1.6rem;
  }
}
