.NotFoundContainer{
    background-image: url("../../assets/404.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.NotFoundContainer p{
    color: white;
    font-weight: 300;
    font-size: 1.6rem;
}
.NotFoundContainer h1{
    font-weight: 700;
    font-size: 2rem;
}

@media (min-width: 700px) {
    
    .NotFoundContainer{
        width: 100%;
        height: 100%;
    }
    .NotFoundContainer p{
        color: white;
        font-weight: 300;
        font-size: 2.4rem;
    }
    .NotFoundContainer h1{
        font-weight: 700;
        font-size: 3rem;
    }
}