.nav_bar {
  height: 150px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(37, 119, 190, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}
.nav_bar nav {
  height: 100%;
}
.nav_bar_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}
.nav_bar_list_item {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.nav_bar_list_item a {
  text-decoration: none;
  color: white;
}
.nav_bar_list_item a:hover,
.nav_bar_list_item a.active {
  color: rgba(190, 37, 154, 0.25);
}
.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.filters div {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
  margin: 0;
}
.filters label {
  color: white;
  margin: 0;
  font-weight: 400;
}
.filters select{
  backdrop-filter: blur(8px);
  border: none;
  padding: 10px;
  margin: 0 5px;
  font-size: 1.4rem;
}

@media (min-width: 900px) {
  .nav_bar {
    justify-content: space-evenly;
    flex-direction: row;
  }
  .filters select{
    font-size: 1.6rem;
    margin: 10px 10px;
  }

}
